[submodule "catapult-service-bootstrap"]
	path = catapult-service-bootstrap
	url = https://github.com/tech-bureau/catapult-service-bootstrap.git
	branch = feature/chaos-tests
[submodule "catapult-spammer"]
	path = catapult-spammer
	url = https://github.com/rich-dtk/debug-symbol-bootstrap.git
	branch = feature/chaos-spammer
