[submodule "integrationtests/src/main"]
	path = integrationtests/src/main
	url = https://github.com/nemtech/nem2-e2e-tests.git
	branch = next
[submodule "catapult-bootstrap"]
	path = catapult-bootstrap
	url = https://github.com/tech-bureau/catapult-service-bootstrap.git
	branch = feature/auto-recovery